{{#each posts}}

<div class="container">
  <h2>{{name}}</h2>
    <img class="postImg" src="{{imageUrl}}" alt="">
    <p>{{description}}</p>
    <p>{{difficultyLevel}}</p>
    <a href="/about" class="btn">Details</a>
</div>

{{/each}}