        <main>
            <h1>Attach a new accessory</h1>
            <div class="form">
                <h2>{{post.name}}</h2>
                <img class="cube" src="{{post.imageUrl}}">
                <form method="POST">
                    <label for="accessory">Accessories</label>
                    <select id="accessory" name="accessory">
                        {{#each accessory}}
                            <option value="{{_id}}">{{name}}</option>
                        {{/each}}
                    </select>
                    <input type="submit" value="Attach">
                    </form>
                <a class="btn" href="/">Back</a>
            </div>
        </main>