<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mental Rudiments</title>
    <link href="/css/main.css" type="text/css" rel="stylesheet">
    <link rel='shortcut icon' type='image/x-icon' href='/images/favicon.svg' />
</head>
<body>
    <header>
    <h1>Mental Rudiments</h1>
<!--    <h4>Мозъчни зачатъци на един линукс потребител</h4>-->
    <nav>
        <a href="/" class="active">Home</a>
        <a href="/about">About</a>
        <a href="/">Log in</a>
        <a href="/">Contact</a>
    </nav>
    </header>
    {{{body}}}
<footer>@MR: Express and Handlebars Workshop</footer>
</body>

</html>

