<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>mental-rudiments</title>
    <link href="../../static/css/main.css" type="text/css" rel="stylesheet">
    <link rel='shortcut icon' type='image/x-icon' href='../../static/images/favicon.png' />
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
</header>
<main>
    {{{body}}}
</main>
    <footer>
    <p>&copy; 2023 Your App</p>
</footer>
{{!-- Additional JavaScript files --}}
</body>
</html>
