<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mental Rudments</title>
    <link href="/css/main.css" type="text/css" rel="stylesheet">
    <link rel='shortcut icon' type='image/x-icon' href='/images/favicon.png' />
</head>
<body>
    <h1>Welcome to My App</h1>
    {{{body}}}
<footer>@Cubicle: Exercise for Express.js and Handlebars</footer>
</body>

</html>

